
/* ------------Debu ----------------*/
[class*="col-"]{

  border: 1px solid red;
}



/* REGOLE GENERALI */

body{
  font-family: 'Martel';
}

/* p{
  font-family: Helvetica;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  text-align:center;
  font-weight: 900;
  font-size: 2em;
}

h3, h4{
  font-weight: 900;
}


/* DESKTOP -------------------------------- */
@media screen and (min-width: 993px) {

  #lezioni *{
    text-align:center;
  }

  #lezioni .left img{
    width: 150px;
  }

  #lezioni .right img{
    height: 150px;
  }

  #steps *{
    text-align: center;
  }

  #why .icon{
    text-align: center;
  }

  #why .icon img{
    width: 50px;
    padding: 10px;
    background-color: #428bca;
    border-radius: 50%;
  }

}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 992px) {



}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {



}
