
/* ------------Debu ----------------*/
[class*="col-"]{

  border: 1px solid red;
}



/* REGOLE GENERALI */

body{
  font-family: 'Martel';
}

/* p{
  font-family: Helvetica;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  text-align:center;
  font-weight: 900;
  font-size: 2em;
}

h3, h4{
  font-weight: 900;
}

#primo{
  background: URL(img/teacher1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}




/* DESKTOP -------------------------------- */
@media screen and (min-width: 993px) {

  #primo {
    height: 80vh;
    border-bottom: solid 4px #2388c2;
  }
  .over{
    width: 100%;
    height: 80vh;
    position: absolute;
    top:0px;
    left: 0px;
    background: #171620b8;
    color: white;
  }

  #lezioni {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  #lezioni *{
    text-align:center;
  }

  #lezioni .left, #lezioni .right{
    padding: 20px;
  }

  #lezioni .left img{
    width: 90px;
  }

  #lezioni .right img{
    height: 90px;
  }

  #steps .column *{
    text-align: center;
  }

  #why .icon{
    text-align: center;
  }

  #why .icon img{
    width: 50px;
    padding: 10px;
    background-color: #428bca;
    border-radius: 50%;
  }

}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 992px) {



}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {



}
