
/* ------------Debu ----------------*/
/* [class*="col-"]{

  border: 1px solid red;
} */



/* REGOLE GENERALI */

body{
  font-family: 'Martel';
}

/* p{
  font-family: Helvetica;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lezioni .left{
  background: linear-gradient(45deg,#094978,#105e96);
}

#lezioni .right{
  background: linear-gradient(45deg,#072f4c,#0c4771);
}

#lezioni{
  color: white;
  text-align:center;
}

#lezioni p{
  text-align: justify;
}


#secondo{
  box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.85);
}

#terzo{
  box-shadow: inset 0px -8px 8px -10px rgba(51,71,91,0.85);
}

#quarto{
  background: linear-gradient(45deg,#428bca73,#56b1e5);
}

#why{
  padding: 3% 0;
}






/* DESKTOP -------------------------------- */
@media screen and (min-width: 993px) {

  h1{
    font-size: 40px;
  }
  h2{
    text-align:center;
    font-weight: 900;
    font-size: 35px;
  }
  h3, h4{
    font-weight: 900;
  }

  /* -------------------------- */

  #primo{
    background: URL(img/teacher1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    border-bottom: solid 4px #2388c2;
  }
  .over{
    width: 100%;
    height: 80vh;
    position: absolute;
    top:0px;
    left: 0px;
    background: #171620b8;
    color: white;
  }

  h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  /* --------------------------------- */

  #lezioni{
    position: relative;
    min-height: 300px;
  }

  .left{
    position: absolute;
    top:-50%;
    left:calc((100%/12)*2);
  }
  .right{
    position: absolute;
    top:-50%;
    left: calc((100%/12)*6);
    transform: translate(0%, 0%);
  }

  #lezioni .left, #lezioni .right{
    padding: 40px;
    min-height: 420px;
    border-radius: 3px;
  }


  #lezioni .left img{
    width: 90px;
  }

  #lezioni .right img{
    height: 90px;
  }

  #lezioni h3{
    margin: 2% 0;
  }

  /* ------------------------------------- */

  #steps .column{
    height: 350px;
    padding: 20px;
  }
  .immagini{
    width: 100%;
    height: 40%;
    position: relative;
    margin: 20px 0px;
  }
  #steps .column img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #steps .column *{
    text-align: center;
  }

  #terzo{
    padding-bottom: 5%;
  }

  /* ------------------------------------------------- */

  #why .icon{
    text-align: right;
    padding: 2px 20px;
  }

  #why .icon img{
    width: 50px;
    padding: 10px;
    background-color: #428bca;
    border-radius: 50%;
  }

  #why p{
    font-size: 12px;
  }

  #why h2{
    margin-bottom: 2%;
  }

}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 992px) {

  h1{
    font-size: 38px;
  }
  h2{
    text-align:center;
    font-weight: 900;
    font-size: 35px;
  }

  h3, h4{
    font-weight: 900;
  }

  /*  ---------------------- */

  #primo{
    background: URL(img/teacher1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    border-bottom: solid 4px #2388c2;
  }
  .over{
    width: 100%;
    height: 80vh;
    position: absolute;
    top:0px;
    left: 0px;
    background: #171620b8;
    color: white;
  }

  h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  /* ------------------------------------ */

  #lezioni{
    position: relative;
    min-height: 300px;
  }

  .left{
    position: absolute;
    top:-50%;
    left:calc((100%/12)*1);
  }
  .right{
    position: absolute;
    top:-50%;
    left: calc((100%/12)*6);
    transform: translate(0%, 0%);
  }

  #lezioni .left, #lezioni .right{
    padding: 40px;
    min-height: 400px;
    border-radius: 3px;
  }


  #lezioni .left img{
    width: 90px;
  }

  #lezioni .right img{
    height: 90px;
  }

  #lezioni h3{
    margin: 2% 0;
  }

  /* ------------------------------------- */

  #steps .column{
    height: 350px;
    padding: 20px;
  }

  .immagini{
    width: 100%;
    height: 40%;
    position: relative;
    margin: 20px 0px;
  }

  #steps .column img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #steps .column *{
    text-align: center;
  }

  #terzo{
    padding-bottom: 5%;
  }

  /* ------------------------------------------------- */

  #why .icon{
    text-align: center;
  }

  #why .icon img{
    width: 60px;
    padding: 10px;
    background-color: #428bca;
    border-radius: 50%;
    margin: 30px 0px 10px 0px;
  }

  #why p{
    font-size: 15px;
    text-align: justify;
    padding: 0px 20px;
  }

  #why h4{
    margin-bottom: 2%;
    text-align: center;
  }

}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {

  h1{
    font-size: 30px;
  }
  h2{
    text-align:center;
    font-weight: 900;
    font-size: 28px;
  }

  h3, h4{
    font-weight: 900;
  }

  /*  ---------------------- */

  #primo{
    background: URL(img/teacher1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30vh;
    border-bottom: solid 4px #2388c2;
  }
  .over{
    width: 100%;
    height: 30vh;
    position: absolute;
    top:0px;
    left: 0px;
    background: #171620b8;
    color: white;
  }

  h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  /* -------------------------------------- */

  #lezioni{
    position: relative;
    min-height: 300px;
  }

  .left{
    position: absolute;
    top:-50%;
    left:calc((100%/12)*1);
  }
  .right{
    position: absolute;
    top:-50%;
    left: calc((100%/12)*6);
    transform: translate(0%, 0%);
  }

  #lezioni .left, #lezioni .right{
    padding: 40px;
    min-height: 400px;
    border-radius: 3px;
  }


  #lezioni .left img{
    width: 90px;
  }

  #lezioni .right img{
    height: 90px;
  }

  #lezioni h3{
    margin: 2% 0;
  }

  /* ------------------------------------- */

  #steps .column{
    height: 350px;
    padding: 20px;
  }

  .immagini{
    width: 100%;
    height: 40%;
    position: relative;
    margin: 20px 0px;
  }

  #steps .column img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #steps .column *{
    text-align: center;
  }

  #terzo{
    padding-bottom: 5%;
  }

  /* ------------------------------------------------- */

  #why .icon{
    text-align: center;
  }

  #why .icon img{
    width: 60px;
    padding: 10px;
    background-color: #428bca;
    border-radius: 50%;
    margin: 30px 0px 10px 0px;
  }

  #why p{
    font-size: 15px;
    text-align: justify;
    padding: 0px 20px;
  }

  #why h3{
    margin-bottom: 2%;
    text-align: center;
  }

}
